body {
	margin: 0;
}

body div {
	font-family: 'Open Sans', sans-serif;
}

.startup {
	position: relative;
	font-size: 1em;
	padding: 10px;
}
.info {
	margin-top: 15px;
	padding: 10px;
}

.startup a {
	font-size: 1.2em;
}

.header {
	margin-top: 1.5em;
	font-size: 1.5em;
}

tr.odd {
	background-color: #F4F4F4;
}

td.diff-cell, td.cell {
	text-align: center;
}

td.diff-cell {
	font-weight: bold;
}

.welcome {
	margin-top: 20px;
	font-size: 0.9em;
}

table {
	margin-top: 30px;
	border-spacing: 0px;
}

td {
	padding: 0.15em 0.5em 0.15em 0.5em;
}

.transfer-plan
{
	font-size: 0.9em;
	color: gray;
}

.center
{
	margin: 0 auto;
}

.message {
	z-index: 10;
}

.yellow {
	background-color: #FFE869;
}
