body {
	margin: 0 0 0 1em;
}

body div {
	font-family: 'Open Sans', sans-serif;
}

.nullvalue:empty:not(:focus):before{
    content: "∅";
	font-size: 0.9em;
	color: lightgray;
}

.startup {
	position: relative;
	font-size: 1em;
	padding: 10px;
}
.info {
	margin-top: 15px;
	padding: 10px;
}

.startup a {
	font-size: 1.2em;
}

.header {
	margin: 1.5em 0 0 0.2em;
	font-size: 1.8em;
}

table {
	margin-top: 30px;
	border-spacing: 0px;
}

.payment-row.even {
	background-color: #F4F4F4;
}

.welcome {
	margin-top: 20px;
	font-size: 0.9em;
}

.payment-text {
	white-space: nowrap;
}

.transfer-plan
{
	font-size: 0.9em;
	color: gray;
}

td.diff-cell, td.cell {
	text-align: center;
}

td {
	padding: 0.25em 0.5em 0.25em 0.5em;
}

.transfer-plan td {
	padding: 0.2em 0 0.2em 0.5em;
}

.column-header-row  td:not(:last-child),
.diff-row  td {
	padding: 0.5em;
	background-color: darkslategray;
	color: #F8F8F8;
}

.center
{
	margin: 0 auto;
}

.message {
	z-index: 10;
}

.yellow {
	background-color: #FFE869;
}
